var dateFormat = {
  // 时间戳精确到秒
  detailTime: function (value) {
    if (!value) {
      return
    }
    var date = getDate(value * 1000);  // 小程序不能使用new Date 使用getDate代替
    // var date = value * 1000;
    var Y = date.getFullYear();
    var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
    var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
    var h = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
    var m = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
    var s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
    return Y + '-' + M + '-' + D + ' ' + h + ':' + m + ':' + s
  }
}
module.exports = {
  detailTime: dateFormat.detailTime
}